<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      type="image/x-icon"
      href="../static/assests/DeepCorro-removebg-preview.ico"
    />
    <title>Corrosion Detection</title>
    <script
      src="https://kit.fontawesome.com/3fe6965435.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/static/css/style.css" />
  </head>
  <body>
    <nav>
      <div class="logo">
        <img
          src="../static/assests/DeepCorro-removebg-preview.png"
          alt="logo"
        />
        DeepCorro
      </div>
      <ul>
        <li>
          <a href="./home.html" id="home_link">Home</a>
        </li>
        <li>
          <a href="/#upload-images" id="upload-images-link">Upload Images</a>
        </li>
        <li>
          <a href="/#upload-videos" id="upload-videos-link">Upload Videos</a>
        </li>
      </ul>
    </nav>

    <div class="image-upload container" id="upload-images">
      <div class="heading">
        <h1>Image Detection</h1>
        <p>Detect Corrosion from Image using DeepLearning</p>
      </div>
      <form
        id="upload-images-form"
        enctype="multipart/form-data"
        action="/predict_images"
        method="POST"
      >
        <div class="upload">
          <div class="upload-icon">
            <i class="fa-regular fa-file-image"></i>
          </div>
          <input
            type="file"
            id="image"
            name="image"
            accept="image/*"
            required
          />
        </div>
        <button type="submit" class="btn">Upload Image</button>
      </form>
      <div id="result-message-images"></div>
    </div>

    <div
      class="upload-video container"
      id="upload-videos"
      style="display: none"
    >
      <div class="heading">
        <h1>Video Detection</h1>
        <p>Detect Corrosion from Video using DeepLearning</p>
      </div>
      <form
        id="upload-videos-form"
        enctype="multipart/form-data"
        action="/predict_videos"
        method="POST"
      >
        <div class="upload">
          <div class="upload-icon">
            <i class="fa-regular fa-file-video"></i>
          </div>
          <input
            type="file"
            id="video"
            name="video"
            accept=".mp4,.avi"
            required
          />
        </div>
        <button type="submit" class="btn">Upload Video</button>
      </form>
      <div id="result-message-videos"></div>
    </div>

    <div id="popup" class="popup">
      <div class="popup-content">
        <div class="close-icon">
          <p class="popup-heading">Result media</p>
          <span class="close" onclick="closePopup()">&times;</span>
        </div>
        <div id="popup-content" class="pop-up-media">
          <!-- <img
            src="../static/result/predicted_151f4060-4ec0-43ce-a5c4-963639065cf8.jpg"
            alt="Predicted Image"
            style="
              width: 300px;
              height: 300px;
              padding: 0 140px;
              overflow: hidden;
            "
          />
          <div class="download-link">
            <a
              href="../static/result/predicted_151f4060-4ec0-43ce-a5c4-963639065cf8.jpg"
              download
              ><i class="fa-solid fa-download"></i> Download Image</a
            >
          </div> -->
          <!-- <video autoplay loop style="max-width: 100%; max-height: 100%">
            <source
              src="../static/output/predicted_video.webm"
              type="video/webm"
            /></video
          >; -->

          <!-- <div class="download-link">
            <a href="../static/output/predicted_video.mp4" download
              ><i class="fa-solid fa-download"></i> Download Image</a
            > -->
          </div>
        </div>
      </div>
    </div>

    <script>
      document
        .getElementById("upload-images-link")
        .addEventListener("click", function () {
          document.getElementById("upload-images").style.display = "flex";
          document.getElementById("upload-videos").style.display = "none";
        });

      document
        .getElementById("upload-videos-link")
        .addEventListener("click", function () {
          document.getElementById("upload-videos").style.display = "flex";
          document.getElementById("upload-images").style.display = "none";
        });

      function showPopup() {
        document.getElementById("popup").style.display = "flex";
      }

      function closePopup() {
        document.getElementById("popup").style.display = "none";
      }

      document
        .getElementById("upload-images-form")
        .addEventListener("submit", function (event) {
          event.preventDefault();
          var form = event.target;
          var formData = new FormData(form);

          fetch("/predict_images", {
            method: "POST",
            body: formData,
          })
            .then((response) => response.json())
            .then((data) => {
              document.getElementById("result-message-images").innerText =
                data.message;

              if (data.success) {
                showPopup();
                document.getElementById("popup-content").innerHTML =
                  "Loading...";
                var predictedImagePath = data.predicted_image_path;
                document.getElementById(
                  "popup-content"
                ).innerHTML = `<img src="${predictedImagePath}" alt="Predicted Image" style="width: 300px; height: 300px; padding: 0 140px; overflow: hidden">`;
                document.getElementById(
                  "popup-content"
                ).innerHTML = `<div class="download-link"><a href="${predictedImagePath}" download><i class="fa-solid fa-download"></i> Download Image</a></div>`;
              }
            })
            .catch((error) => {
              console.error("Error:", error);
              document.getElementById("result-message-images").innerText =
                "An error occurred. Please try again later.";
            });
        });

      document
        .getElementById("upload-videos-form")
        .addEventListener("submit", function (event) {
          event.preventDefault();
          var form = event.target;
          var formData = new FormData(form);

          fetch("/predict_videos", {
            method: "POST",
            body: formData,
          })
            .then((response) => response.json())
            .then((data) => {
              document.getElementById("result-message-videos").innerText =
                data.message;

              if (data.success) {
                showPopup();
                document.getElementById("popup-content").innerHTML =
                  "Loading...";
                var predictedVideoPath = data.predicted_video_path;
                // document.getElementById(
                //   "popup-content"
                // ).innerHTML = `<video autoplay loop style="max-width: 100%; max-height: 100%;"><source src="${predictedVideoPath}" type="video/webm"></video>`;
                document.getElementById(
                  "popup-content"
                ).innerHTML = `<div class="download-link"><a href="${predictedVideoPath}" download><i class="fa-solid fa-download"></i> Download Video</a></div>`;
              }
            })
            .catch((error) => {
              console.error("Error:", error);
              document.getElementById("result-message-videos").innerText =
                "An error occurred. Please try again later.";
            });
        });
    </script>
  </body>
</html>
